.colorred {
	background-color: red;
	height: 70px;
	width: 70px;
	float: left;
	margin: 20px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: blue; 
}

.colorblue {
	background-color: blue;
	height: 70px;
	width: 70px;
	float: left;
	margin: 20px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: red; 
}

.color-picker {
 	float: center; 
	}